name: ecommerce-backend

on: 
  push:
    branches:
      - "main"
    
jobs:
  push-server:
    name: push-server
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: connect server & clone repo
        env:
          SSH_USER: ${{ secrets.SSH_USER }}
          SSH_KEY: ${{ secrets.SSH_KEY }}
          SSH_HOST: ${{ secrets.SSH_HOST }}
        run: |
          touch .env
          echo "IsEnableAuth="false"" >> .env
          echo "ConnectionStrings__DefaultConnection="User ID=postgres;Password=postgres;Server=postgres-test;Database=e-commerce;Port=5432"" >> .env
          echo "DatabaseSettings__Migrations="true"" >> .env
          echo "DatabaseSettings__SeedData="true"" >> .env
          echo "ASPNETCORE_ENVIRONMENT="Development"" >> .env
          cat .env
